.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: $secondary;
    border: none;
    margin-top: 20px;
    padding: 10px 20px 5px;
    &.formButton {
        width: 100%;
    }
}

// Image Drop-Shadows
.shadowLeft {
    box-shadow: -20px 20px $primary;
}

.shadowRight {
    box-shadow: 20px 20px $primary;
}