.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: $secondary;
    border: 2px solid transparent;
    margin-top: 20px;
    padding: 10px 20px 5px;
    transition: 0.3s;
    &.formButton {
        width: 100%;
    }
    &:hover,
    &:focus {
        background-color: $white;
        border: 2px solid $secondary;
        color: $secondary;
        cursor: pointer;
    }
}


// Image Drop-Shadows
.shadowLeft {
    box-shadow: -20px 20px $primary;
}

.shadowRight {
    box-shadow: 20px 20px $primary;
}