// Devices with screens 1000px and smaller
@media (max-width: 1000px) {  
    .wrapper {
        width: 80%;
    }

    form {
        .formFlex {
            flex-direction: column;
        }
        input,
        textarea {
            width: 100%;
        }
    }


    // Home Page
    .headerHome {
        height: 100vh;
    }
    .headerHomeImg2 {
        display: none;
    } 

    .discover {
        .wrapper {
            flex-direction: column-reverse;
            width: 100%;
            padding-top: 0;
        }
        .discoverText {
            width: 80%;
            margin:75px auto;
            text-align: right;
        }
        .discoverImg {
            margin-left: 0px;
            img {
                width: 80%;
                height: auto;
                box-shadow: 20px 20px $primary;
            }
        }
    }


    // Blog Page
    .comments {
        margin: 0 auto;
        padding: 50px 0 20px 0;
        width: 100%;
    }


    // Contact Page
    .contact {
        flex-direction: column;
        align-items: center;
        width: 100%;
        .contactForm {
            width: 80%;
            form {
                width: 100%;
                margin-left: 0;
            }
        }
        .contactInfo {
            width: 300px;
            margin: 100px 0 75px 10%;
        }
    }
    
}


// Devices with screens 840px and smaller
@media (max-width: 840px) {
    // Drop-Down Nav Bar
    .navBar {
       position: relative;

        .fullSizeMenu {
            visibility: hidden;
        }

        .dropDown {
            visibility: visible;
            position: absolute;
            top: 20px;
            right: 0;
            display: inline-block;
        }

        .dropDownContent {
            display: none;
            background-color: $white;
            min-width: 110px;
            padding: 10px 20px;
            box-shadow: -10px 10px $primary;
            z-index: 1;
        }

        .dropDownContent a {
            display: block;
            padding: 5px 0;
        }

        .dropDownContent a:hover,
        .dropDownContent a:focus {
            background-color: $white;
        }

        .dropDown:hover .dropDownContent {
            display: block;
        }

        .dropDown:hover i {
            background-color: $tertiary;
            padding: 10px 90px 10px 20px;
            box-shadow: -10px 10px $primary;
        }
    }
    
    
    // Home Page
    .gallery {
        ul {
            flex-direction: column;
            li {
                width: 100%;
                padding: 30px;
            }
        }

    }

    .links {
        ul {
        flex-direction: column;
        width: 70%;
        padding-bottom: 50px;
            li {
                width: 100%;
            }
            p {
                padding-bottom: 40px;
            }
        }
    }

    .about {
        flex-direction: column;
        button {
            margin-bottom: 20px;
        }
        .newLocations {
            width: 100%;
            .newLocationsText {
                padding-right: 100px;
            }
            img {
                width: 70%;
            }
        }
        .groupPrograms {
            width: 100%;
            margin: 50px 0 325px 100px;
            img {
                width: 75%;
                bottom: -400px;
                left: 125px;
            }
        }
    }

    .bannerImage img{
        margin-top: 75px;
    }

    .search {
        padding: 100px 0;
    }



    // Blog Page
    .blogFlex {
        flex-direction: column-reverse;
        aside {
            display: none;
        }
        .blogEntry {
            width: 85%;
        }
    }
}




// Devices with screens smaller than 600px
@media (max-width: 600px) {
    h3 {
        font-size: 1.2rem;
    }

   .headerHome,
   .headerBlog,
   .headerContact {
       height: 50vh;
        h1 {
            font-size: 2.6rem;
            margin-top: 5vh;
        }
    }

    // Forms
    .contactForm form{
        margin: -175px 0 0 100px;
        padding: 50px 60px;
    } 

    .about .groupPrograms img {
        width:80%;
        top: 540px;
        left: 30px;
    }
}
    

// Devices with screens smaller than 480px {
@media (max-width: 480px) { 
    h2 {
        font-size: 1.6rem;
    }

   .headerHome,
   .headerBlog,
   .headerContact {
        h1 {
            font-size: 1.8rem;
        }
    }

    // Home Page
    .links li {
        flex-direction: column;
        i {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            font-size: 1.5rem;
        }
    }
        
    .about .groupPrograms img {
        top: 650px;
        left: 30px;
    }




    // Blog Page
    .blogFlex {
        width:95%;
        .blogEntry {
            width: 100%;
            .blogText {
                padding: 50px 50px;
            }
        }
    }

    .comments {
        .commentImg {
            margin-bottom: 20px;
        }
        p {
            margin-left: 0;
        }
        .commentFlex {
            flex-direction: column;
        }
    }


    // Forms
    .contactForm form{
        margin: -100px 0 0 100px;
        padding: 50px 40px;
    } 
    
} 