.navBar {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    span,
    .dropDown {
        visibility: hidden;
    }
    
    h5 a {
        border-bottom: 4px solid transparent;
        transition: 0.3s;
        &:hover,
        &:focus {
        border-bottom: 4px solid $primary;
        cursor: pointer;
        }
    }
    

    .fullSizeMenu {
        width: 25rem;
        display: flex;
        justify-content: space-between;
    }
}