.navBar {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    span {
        visibility: hidden;
    }
    ul {
        width: 25rem;
        display: flex;
        justify-content: space-between;
    }
    a {
        border-bottom: 4px solid transparent;
        transition: 0.3s;
        &:hover,
        &:focus {
        border-bottom: 4px solid $primary;
        cursor: pointer;
    }
    }
}