/* Home Page Sections */
// Section: Home > Discover
.discover {
    padding-top: 250px;
    display: flex;
    .discoverText {
        width: 70%;
        height: auto;
        margin: 0 75px 100px 0;
    }
}




// Section: Home > Gallery
.gallery {
    background-color: $tertiary;
}



// Section: Home > Links




// Section: Home > About
.about {
    background-color: $tertiary;
}

// Section: Home > Search






/* Blog Page Sections */
// Section: Blog > Posts




// Section: Blog > Comments




/* Contact Page Styles */
