//Site Fonts
$h1Font: 'Kumar One Outline', cursive;
$headingsFont: 'Kumar One', cursive;
$bodyFont: 'Lato', sans-serif;

$baseFontSize: 1rem;

// Site Colours
$primary: #F8FB05;
$secondary: #065635;
$tertiary: #E0FDDF;
$white: #F5F5F5;
$black: #151514;