@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #151514;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 3.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin: 0;
}

h2,
h3,
h4,
button {
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  margin: 0;
}

h5,
p {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: 0.125rem;
}

h3 {
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 0.105rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 0.06rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}
p.dateItalics {
  font-style: italic;
}
p.dateAllCaps {
  text-transform: uppercase;
  font-weight: 700;
}

button {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  color: #F5F5F5;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
ul.recentPostList {
  padding-left: 40px;
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: #151514;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #065635;
  border: 2px solid transparent;
  margin-top: 20px;
  padding: 10px 20px 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button.formButton {
  width: 100%;
}
button:hover, button:focus {
  background-color: #F5F5F5;
  border: 2px solid #065635;
  color: #065635;
  cursor: pointer;
}

.shadowLeft {
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
}

.shadowRight {
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
}

.navBar {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar span,
.navBar .dropDown {
  visibility: hidden;
}
.navBar h5 a {
  border-bottom: 4px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar h5 a:hover, .navBar h5 a:focus {
  border-bottom: 4px solid #F8FB05;
  cursor: pointer;
}
.navBar .fullSizeMenu {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerHome {
  background-image: url(../assets/header-home.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}
.headerHome h1 {
  width: 200px;
  margin: 5vh 0 5vh 0;
}

.headerHomeImg2 {
  width: 100%;
  height: auto;
}
.headerHomeImg2 img {
  width: 55%;
}

.headerBlog {
  background-image: url(../assets/blog-image.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}
.headerBlog h1 {
  margin-top: 18vh;
}

.headerContact {
  background-image: url(../assets/contact-image.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}
.headerContact h1 {
  margin-top: 18vh;
}

body {
  background-color: #E0FDDF;
}

/* Home Page Sections */
.discover {
  background-color: #F5F5F5;
}
.discover .wrapper {
  padding-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discover .discoverText {
  width: 65%;
  height: auto;
  margin: 0 75px 150px 0;
}
.discover .discoverImg {
  margin-left: 25px;
}
.discover .discoverImg img {
  height: 60%;
}

.gallery {
  padding: 75px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: calc((100% / 3) - 30px);
}
.gallery ul li img {
  width: 100%;
  height: auto;
}

.links {
  background-color: #F5F5F5;
}
.links h3 {
  margin-top: 10px;
}
.links p {
  margin-bottom: 25px;
}
.links ul {
  padding: 75px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.links ul li {
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.links ul i {
  background-color: #F8FB05;
  height: 2.2rem;
  min-width: 2.2rem;
  margin: 10px 15px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.8rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about h3 {
  margin-top: 75px;
}
.about button {
  margin-bottom: 75px;
}
.about .newLocations {
  width: 40%;
}
.about .newLocations .newLocationsText {
  text-align: right;
}
.about .newLocations .newLocationsText h3,
.about .newLocations .newLocationsText p {
  padding-left: 25%;
}
.about .newLocations img {
  margin-top: -50px;
  width: 100%;
}
.about .groupPrograms {
  width: 40%;
  position: relative;
}
.about .groupPrograms h3,
.about .groupPrograms p {
  padding-right: 25%;
}
.about .groupPrograms img {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
}

.bannerImage img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.search {
  background-color: #F5F5F5;
  text-align: center;
  padding: 150px 0;
}
.search h3 {
  padding-left: 10px;
}
.search p {
  padding: 0 75px;
  text-align: left;
}

/* Blog Page Sections */
.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogFlex .blogImgRelative {
  width: 100%;
  position: relative;
}
.blogFlex .blogEntry {
  width: 65%;
  background-color: #F5F5F5;
  border-right: 5px solid #F8FB05;
  border-bottom: 5px solid #F8FB05;
}
.blogFlex .blogEntry img {
  width: calc(100% - 20px);
  margin-top: -15%;
}
.blogFlex .blogEntry .blogText {
  padding: 50px 100px 20px 100px;
}
.blogFlex .blogEntry .blogText p {
  margin-top: 20px;
}
.blogFlex aside {
  width: 20%;
  min-width: 225px;
  height: 75%;
  margin-top: 150px;
  background-color: #F8FB05;
}
.blogFlex aside .asideImg {
  text-align: right;
}
.blogFlex aside img {
  width: 94%;
  margin-top: -20px;
}
.blogFlex aside .asideText {
  padding: 0 25px 25px 25px;
}
.blogFlex aside .asideText h3 {
  padding-top: 25px;
}
.blogFlex aside .asideText ul {
  padding-left: 25px;
}

.comments {
  width: 65%;
  padding: 50px 100px 20px 50px;
}
.comments .commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}
.comments p {
  margin: 0 0 10px 30px;
}
.comments .commentText {
  margin-bottom: 50px;
}
.comments img {
  padding-top: 10px;
}

/* Contact Page Styles */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactForm {
  width: 65%;
}
.contactForm form {
  width: 90%;
  background-color: #F5F5F5;
  margin: -175px 0 0 100px;
  padding: 75px;
}
.contactForm form input,
.contactForm form textarea {
  background-color: #F5F5F5;
}

.contactInfo {
  width: 28%;
  margin: 125px 0 200px 0;
}
.contactInfo i {
  height: 2rem;
  width: 2rem;
  margin: 5px;
  padding-top: 0.2rem;
  text-align: center;
  color: #065635;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contactInfo i:hover, .contactInfo i:focus {
  font-size: 2rem;
  cursor: pointer;
}
.contactInfo .socialsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactInfo .contactDetails {
  padding-left: 15px;
}
.contactInfo .contactDetails p:first-child {
  margin: 10px 0;
}

form {
  width: 100%;
  margin-bottom: 75px;
}
form .formFlex {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form input,
form textarea {
  background-color: #E0FDDF;
  border: 1px solid #065635;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  padding: 30px 10px 20px 30px;
}
form input {
  width: calc(50% - 30px);
  border: none;
  border-bottom: 1px solid #065635;
}
form textarea {
  resize: none;
  width: 100%;
  height: 250px;
}

footer {
  color: #F5F5F5;
  background-color: #151514;
  text-align: center;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 80%;
  }

  form .formFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form input,
form textarea {
    width: 100%;
  }

  .headerHome {
    height: 100vh;
  }

  .headerHomeImg2 {
    display: none;
  }

  .discover .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    padding-top: 0;
  }
  .discover .discoverText {
    width: 80%;
    margin: 75px auto;
    text-align: right;
  }
  .discover .discoverImg {
    margin-left: 0px;
  }
  .discover .discoverImg img {
    width: 80%;
    height: auto;
    -webkit-box-shadow: 20px 20px #F8FB05;
            box-shadow: 20px 20px #F8FB05;
  }

  .comments {
    margin: 0 auto;
    padding: 50px 0 20px 0;
    width: 100%;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .contact .contactForm {
    width: 80%;
  }
  .contact .contactForm form {
    width: 100%;
    margin-left: 0;
  }
  .contact .contactInfo {
    width: 300px;
    margin: 100px 0 75px 10%;
  }
}
@media (max-width: 840px) {
  .navBar {
    position: relative;
  }
  .navBar .fullSizeMenu {
    visibility: hidden;
  }
  .navBar .dropDown {
    visibility: visible;
    position: absolute;
    top: 20px;
    right: 0;
    display: inline-block;
  }
  .navBar .dropDownContent {
    display: none;
    background-color: #F5F5F5;
    min-width: 110px;
    padding: 10px 20px;
    -webkit-box-shadow: -10px 10px #F8FB05;
            box-shadow: -10px 10px #F8FB05;
    z-index: 1;
  }
  .navBar .dropDownContent a {
    display: block;
    padding: 5px 0;
  }
  .navBar .dropDownContent a:hover,
.navBar .dropDownContent a:focus {
    background-color: #F5F5F5;
  }
  .navBar .dropDown:hover .dropDownContent {
    display: block;
  }
  .navBar .dropDown:hover i {
    background-color: #E0FDDF;
    padding: 10px 90px 10px 20px;
    -webkit-box-shadow: -10px 10px #F8FB05;
            box-shadow: -10px 10px #F8FB05;
  }

  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery ul li {
    width: 100%;
    padding: 30px;
  }

  .links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    padding-bottom: 50px;
  }
  .links ul li {
    width: 100%;
  }
  .links ul p {
    padding-bottom: 40px;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about button {
    margin-bottom: 20px;
  }
  .about .newLocations {
    width: 100%;
  }
  .about .newLocations .newLocationsText {
    padding-right: 100px;
  }
  .about .newLocations img {
    width: 70%;
  }
  .about .groupPrograms {
    width: 100%;
    margin: 50px 0 325px 100px;
  }
  .about .groupPrograms img {
    width: 75%;
    bottom: -400px;
    left: 125px;
  }

  .bannerImage img {
    margin-top: 75px;
  }

  .search {
    padding: 100px 0;
  }

  .blogFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogFlex aside {
    display: none;
  }
  .blogFlex .blogEntry {
    width: 85%;
  }
}
@media (max-width: 600px) {
  h3 {
    font-size: 1.2rem;
  }

  .headerHome,
.headerBlog,
.headerContact {
    height: 50vh;
  }
  .headerHome h1,
.headerBlog h1,
.headerContact h1 {
    font-size: 2.6rem;
    margin-top: 5vh;
  }

  .contactForm form {
    margin: -175px 0 0 100px;
    padding: 50px 60px;
  }

  .about .groupPrograms img {
    width: 80%;
    top: 540px;
    left: 30px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.6rem;
  }

  .headerHome h1,
.headerBlog h1,
.headerContact h1 {
    font-size: 1.8rem;
  }

  .links li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links li i {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .about .groupPrograms img {
    top: 650px;
    left: 30px;
  }

  .blogFlex {
    width: 95%;
  }
  .blogFlex .blogEntry {
    width: 100%;
  }
  .blogFlex .blogEntry .blogText {
    padding: 50px 50px;
  }

  .comments .commentImg {
    margin-bottom: 20px;
  }
  .comments p {
    margin-left: 0;
  }
  .comments .commentFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactForm form {
    margin: -100px 0 0 100px;
    padding: 50px 40px;
  }
}