@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #151514;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 3.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin: 0;
}

h2,
h3,
h4,
button {
  font-family: "Kumar One", cursive;
  text-transform: uppercase;
  margin: 0;
}

h5,
p {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: 0.125rem;
}

h3 {
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 0.105rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 0.06rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}
p.dateItalics {
  font-style: italic;
}
p.dateAllCaps {
  color: red;
  text-transform: uppercase;
  font-weight: 700;
}

button {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  color: #F5F5F5;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
ul.recentPostList {
  padding-left: 40px;
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: #151514;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #065635;
  border: none;
  margin-top: 20px;
  padding: 10px 20px 5px;
}
button.formButton {
  width: 100%;
}

form {
  width: 100%;
  border: 2px solid red;
  margin-bottom: 75px;
}
form .formFlex {
  padding-bottom: 20px;
}
form input,
form textarea {
  background-color: #E0FDDF;
  border: 1px solid #065635;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0 20px 20px;
}
form input {
  width: calc(50% - 50px);
  border: none;
  border-bottom: 1px solid #065635;
  margin: 0 20px 5px 0;
}
form textarea {
  resize: none;
  width: 100%;
}

.shadowLeft {
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
}

.shadowRight {
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
}

.navBar {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar span {
  visibility: hidden;
}
.navBar h4 {
  padding-top: 7px;
}
.navBar ul {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerHome {
  background-image: url(../assets/header-home.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}
.headerHome h1 {
  width: 200px;
  margin: 5vh 0 5vh 0;
}

.headerHomeImg2 {
  width: 100%;
  height: auto;
}
.headerHomeImg2 img {
  width: 55%;
}

.headerBlog {
  background-image: url(../assets/blog-image.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}
.headerBlog h1 {
  margin-top: 18vh;
}

.headerContact {
  background-image: url(../assets/contact-image.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}
.headerContact h1 {
  margin-top: 18vh;
}

body {
  background-color: #E0FDDF;
}

/* Home Page Sections */
.discover {
  background-color: #F5F5F5;
}
.discover .wrapper {
  padding-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discover .discoverText {
  width: 65%;
  height: auto;
  margin: 0 75px 150px 0;
}
.discover .discoverImg {
  margin-left: 25px;
}
.discover .discoverImg img {
  height: 60%;
}

.gallery {
  padding: 75px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: calc((100% / 3) - 30px);
}
.gallery ul li img {
  width: 100%;
  height: auto;
}

.links {
  background-color: #F5F5F5;
  border: 2px solid greenyellow;
}
.links h3 {
  margin-top: 10px;
}
.links p {
  margin-bottom: 25px;
}

.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 5px dashed purple;
}
.links ul li {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.links ul li i {
  background-color: #F8FB05;
  height: 2.2rem;
  min-width: 2.2rem;
  margin: 10px 15px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.8rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about h3 {
  margin-top: 75px;
}
.about button {
  margin-bottom: 75px;
}
.about .newLocations {
  width: 40%;
}
.about .newLocations .newLocationsText {
  text-align: right;
}
.about .newLocations .newLocationsText h3,
.about .newLocations .newLocationsText p {
  padding-left: 25%;
}
.about .groupPrograms {
  width: 40%;
}
.about .groupPrograms h3,
.about .groupPrograms p {
  padding-right: 25%;
}

.bannerImage img {
  width: 100%;
}

.search {
  background-color: #F5F5F5;
  text-align: center;
}
.search h3 {
  padding: 150px 0 10px;
}
.search button {
  margin-bottom: 150px;
}
.search p {
  padding: 0 75px;
  text-align: left;
}

/* Blog Page Sections */
.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}
.blogFlex .blogEntry {
  width: 65%;
  background-color: #F5F5F5;
  border-right: 5px solid #F8FB05;
  border-bottom: 5px solid #F8FB05;
  padding-top: 400px;
}
.blogFlex .blogEntry img {
  width: 98%;
  position: absolute;
  top: -250px;
}
.blogFlex .blogEntry .blogText {
  padding: 100px 100px 20px 100px;
}
.blogFlex .blogEntry .blogText p {
  margin-top: 20px;
}
.blogFlex aside {
  width: 20%;
}
.blogFlex aside .asideImg {
  text-align: right;
}
.blogFlex aside img {
  width: 94%;
}
.blogFlex aside .asideText {
  background-color: #F8FB05;
  padding: 0 25px 25px 25px;
}
.blogFlex aside .asideText h3 {
  padding-top: 25px;
}
.blogFlex aside .asideText ul {
  padding-left: 25px;
}

.comments {
  width: 60%;
}
.comments h3 {
  margin: 50px 0;
}
.comments .commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments p {
  margin: 0 0 10px 30px;
}
.comments .commentText {
  margin-bottom: 50px;
}
.comments img {
  padding-top: 10px;
}

/* Contact Page Styles */
footer {
  color: #F5F5F5;
  background-color: #151514;
  text-align: center;
}